body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 243, 255);
  font-family: 'Baloo Chettan', cursive;
}

#cell {
  border: 2px;
}

h1 {
  color: rgb(50, 54, 61);
  padding: 10vh;
}
