body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 99, 214);
}

.game {
  display: grid;
}

h1 {
  color: rgb(91, 11, 25);
  padding: 10vh;
}

.square {
  border: 2px;
}
