body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 243, 255);
  font-family: 'Baloo Chettan', cursive;
}

#board tr td {
  width: 90px;
  height: 90px;
  border: 1px solid #1c1c1c;
  font-size: 60px;
  text-align: center;
}

#board tr td:hover {
  background: #e4e4e4;
  cursor: pointer;
}

h1 {
  color: rgb(50, 54, 61);
  padding: 10vh;
}
